@font-face {
    font-family: 'MyFont';
    src: url('./Quicksand-Regular.otf') format('otf');
    font-weight: 600;
    font-style: all;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.png');
}